<app-nav></app-nav>
<main>
    <!--Heading-->
    <div class="container">
        <header>
            <h1 class="display-3 regularHeader">Hip to be Square!</h1>
            <h2 class="regularSubHeader">Administration Page</h2>
        </header>
    </div>

    <!-- Intro -->
    <div class="row justify-content-md-center">
        <h3 class="lead">Non-Admin Users</h3>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-7 offset-md-3">
            <div id="adminUsersList"></div>
        </div>
    </div>
</main>