<app-nav></app-nav>

<!--Admin Page for the Hip to be Square Capstone Project.-->

<main>
    <!--Heading-->
    <div class="container">
        <header>
            <h1 class="display-3 regularHeader">Hip to be Square!</h1>
            <h2 class="regularSubHeader">Administration Page</h2>
        </header>
    </div>

    <!-- Intro -->
    <div class="row justify-content-md-center">
        <h3 class="lead">Non-Admin Users</h3>
    </div>

    <!--This listing displays users and automatically numbers the columns.-->
    <section class="container-fluid d-flex justify-content-center">
        <table id="nonAdminUsers" class="tables table-striped table-bordered col-lg-6">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th>User Name</th>
                    <th>Email Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                </tr>
            </tbody>
        </table>
    </section>

</main>