<app-nav></app-nav>
<div>
    <form class="form-register" id="form-register" method="POST" action="/login">
        <img class="mb-4" src="assets/img/lock.png" alt="Lock Sign" id="lock" />

        <h1 class="h3 mb-3 font-weight-normal">Register Here!</h1>

        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" class="form-control" placeholder="Username" required autofocus />

        <label for="email" class="sr-only">Enter Email Address</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" placeholder="Email address" required />

        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required />

        <label for="confirm" class="sr-only">Confirm Password</label>
        <input type="password" id="confirm" name="confirm" [(ngModel)]="confirmPass" class="form-control" placeholder="Confirm Password" required />

        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submitBtn" (click)="onSubmit()">Register</button>
        <button class="btn btn-lg btn-secondary btn-block" type="button" id="resetBtn" (click)="onReset()">Reset</button>

        <br />
        <div class="alert alert-success hidden" role="alert" id="msg"></div>

    </form>
</div>
<div class="container">
    <br />
    <div class="alert alert-danger" role="alert" id="errMsg" *ngIf="error">{{errMsg}}</div>
</div>