<!--Navigation Bar Component for the Hip to be Square Capstone Project, using Angular/Typescript.-->

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Hip to be Square</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" (click)="goHome()">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" id="patternLink">
                    <a class="nav-link" (click)="goPatterns()">Patterns</a>
                </li>
                <li *ngIf="isAuth()" class="nav-item" id="teamLink">
                    <a class="nav-link" (click)="goTeams()">Teams</a>
                </li>
                <li *ngIf="isAuth()" class="nav-item" id="managerLink">
                    <a class="nav-link" (click)="goManager()">Edit Profile</a>
                </li>
                <li *ngIf="isAdmin()" class="nav-item" id="adminLink">
                    <a class="nav-link" (click)="goAdmin()">Admin</a>
                </li>
                <li *ngIf="!isAuth()" class="nav-item" id="loginLink">
                    <a class="nav-link" (click)="goLogin()">Login</a>
                </li>
                <li *ngIf="!isAuth()" class="nav-item" id="registerLink">
                    <a class="nav-link" (click)="goRegister()">Register</a>
                </li>
                <li *ngIf="isAuth()" class="nav-item" id="logoutLink">
                    <a class="nav-link" (click)="goLogout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!--End Navigation Bar-->