<!--Login Page for the Hip to be Square Capstone Project, using Angular/Typescript.-->

<div>
    <form class="form-login" id="form-login">
        <img class="mb-4" src="assets/img/lock.png" alt="Login" id="lock" />

        <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>

        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" class="form-control" placeholder="Username" required autofocus />
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required />

        <button class="btn btn-lg btn-primary btn-block" type="submit" id="submitBtn" (click)="onSubmit()">Log in</button>
        <button class="btn btn-lg btn-success btn-block" type="submit" id="registerBtn" (click)="goRegister()">Not a Member?  Register Here!</button>
        <button class="btn btn-lg btn-secondary btn-block" type="button" id="resetBtn" (click)="onReset()">Reset</button>
        <br />
    </form>
</div>
<div class="container">
    <br />
    <div class="alert alert-danger" role="alert" id="errMsg" *ngIf="error">{{errMsg}}</div>
</div>